.home-container {
  text-align: center;
  /* padding: 0 12vw; */
}

.hm-pt-1 {
  padding-bottom: 10vh;
}

.hm-pt-1 h1 {
  font-size: 4.40rem;
  line-height: 5rem;
  margin-bottom: 60px;
}



.hm-pt-1.animate .yellow-underline{
position: absolute;
 /* Apply initial clip-path */
 -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
 clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
 
 /* Add animation */
 animation: clipPathAnimation 1s ease-in-out forwards;
}

@keyframes clipPathAnimation {
  0% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); 
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%); 
  }
  
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.yellow-underline svg{
 
}



.hm-pt-1.animate h1 span {
  display: inline-block;
  animation: boldText 1s forwards;  /* Apply the animation when .animate class is added */
}


@keyframes boldText {
  0% {
    font-weight: normal;
  }
  100% {
    font-weight: 900;
  }
}

.get-started-btn {
  background-color: rgb(19, 83, 175);
  color: white;
  padding: 8px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.25rem;
}

.vid-div{ 
  z-index: -1;
  height: 90vh;
  width: 75vw;
  clip-path: polygon(0 59%, 0 59%, 0 59%, 95% 59%, 95% 58%, 95% 59%, 99% 59%, 100% 100%, 85% 100%, 24% 100%, 23% 94%, 0 93%);
  background-color: #1868db;
}

.get-started-btn:hover {
  background-color: #0056b3;
}

.video-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out the buttons and video */
  margin: 40px auto 0; /* Center the carousel within the container */
  padding: 0;
  box-sizing: border-box;
}

.carousel-btn {
  color: black;
  padding: 1px 8px;
  border: black;
  border: 2px solid black;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
}

.pt-7-imgs {
  position: absolute;
}


@media (max-width: 575.98px) { 

  .yellow-underline {
    display: none;
  }
  .hm-pt-1 h1 {
        padding-top: 2rem !important;
    font-size: 3rem;
    line-height: 4rem;
    margin: 8vh 0;
  }

  .carousel-btn {
    display: none !important;
  }

  .video-carousel {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .vid-div{
    display: none;
  }

  .inner-container{
    display: flex;
    flex-direction: column;
  }

  .hm-pt-2 h1{
    line-height: 2.5rem !important;
    font-size: 1.7rem !important;
  }

  .hm-pt-2 .container{
    padding-top: 2rem !important;
  }

  .inner-container .left{
    gap: 2vw;
    width: 100%;
  }

  .inner-container h1{
    font-size: 1.4rem !important;
    text-align: start !important;
  }

  .right{
    align-items: center !important;
  }

  .carousel-video {
    width: 100% !important;
  }

  .right video{ 
    width: 100% !important;
  }

  .pt-3-div {
    width: 100% !important;
    height: 93vh !important;
  }

  .hm-pt-3{
    padding: 0 7vw !important;
  }

  .hm-pt-3 h1{
    line-height: 2rem;
    font-size: 2rem;
  }

  .hm-pt-4{
    flex-direction: column !important;
    margin: 0 0 5vh 0 !important;
    clip-path: polygon(0 0, 4% 0, 51% 0, 60% 0, 59% 5%, 100% 4%, 100% 85%, 100% 100%, 100% 0%, 100% 100%, 0% 95%, 0 95%) !important;
  }

  .hm-pt-4 .pt-4-1{
    flex-direction: column !important;
  }

  .pt-4-1 h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
  }

  .hm-pt-5 h1{
    font-size: 1.8rem;
  }

  .hm-pt-5 ul{
    overflow-x: scroll;
    justify-content: start !important;
  }

  .hm-pt-5 ul a{
    width: max-content;
  }

  .spe-div{
    flex-direction: column;
  }

  .spe-div a{
    font-size: 1rem;
  }

 .hm-pt-6 h1{
  font-size: 2rem;
 }

 .hm-pt-6 h5{
  font-size: 1.2rem;
 }

 .hm-pt-6 a{
  font-size: 1rem;
 }

 .hm-pt-6 .inner-div{
  flex-direction: column;
  gap: 2rem;
 }

 .in-inner-div{
  align-items: center;
  text-align: center;
 }

 .hm-pt-6 ul{
  overflow-x: scroll;
 }

 .hm-pt-6 ul img{
  width: 30rem;
  max-width: max-content !important;
 }

 .pt-6-3 div{
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  gap: 0.8rem;
 }

 .pt-6-3 div div img{
  width: 100% !important;
 }

 .hm-pt-7{
  padding: 0 !important;
 }

 .hm-pt-7 h1, .hm-pt-7 p{
  width: 100%;
 }

 .pt-7-1{
  padding: 0 1rem;
 }
 
 footer{
  margin: 0 1rem !important;
  
 }
 footer a{
  font-size: 1rem;
 }

.mar-bot{
  margin-bottom: 4rem;
 }

 .footer-1{
  flex-direction: column;
  padding: 1rem 1rem;
 }

 .footer-2{
  flex-direction: column;
  margin-bottom: 3rem;
 }

 .footer-2 .f-div{
  margin-top: 2rem;
  flex-direction: column;
 }

}

.carousel-video {
  width: 82%; /* Adjust as necessary to fit your design */
  height: auto;
}

.hm-pt-2 h1 {
  text-align: start;
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--bxp-charlie-display-font-family);
  position: relative;
}

.pt-3-div{
  z-index: -1;
  color: white;
  position: absolute;
  height: 120vh;
  width: 80vw;
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 60%);
}

.cv-scroll::-webkit-scrollbar {
  display: none;
}


.pt-6-2{
  padding-top: 10vh;
  clip-path: polygon(2% 14%, 100% 0%, 100% 100%, 0% 100%);
}

.pt-7-2{
  clip-path: polygon(0 0, 16% 0, 37% 0, 80% 0, 80% 8%, 100% 5%, 100% 85%, 100% 95%, 100% 91%, 36% 100%, 36% 90%, 0 90%);
}

.hm-pt-4{
  clip-path: polygon(0 0, 16% 0, 37% 0, 75% 0, 75% 5%, 100% 4%, 100% 85%, 100% 100%, 85% 100%, 20% 100%, 20% 91%, 0 90%);
}