.home-container {
  text-align: center;
  /* padding: 0 12vw; */
}

.hm-pt-1 {
  padding-bottom: 10vh;
}

.hm-pt-1 h1 {
  font-size: 4.40rem;
  line-height: 5rem;
  margin-bottom: 60px;
}


.hm-pt-1 h1 span {
  animation: boldText 5s forwards; /* Apply the animation */
}

@keyframes boldText {
  0% {
    font-weight: normal;
  }
  100% {
    font-weight: 900;
  }
}

.get-started-btn {
  background-color: rgb(19, 83, 175);
  color: white;
  padding: 8px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.25rem;
}

.vid-div{ 
  z-index: -1;
  height: 90vh;
  width: 75vw;
  clip-path: polygon(0 59%, 0 59%, 0 59%, 95% 59%, 95% 58%, 95% 59%, 99% 59%, 100% 100%, 85% 100%, 24% 100%, 23% 94%, 0 93%);
  background-color: #1868db;
}

.get-started-btn:hover {
  background-color: #0056b3;
}

.video-carousel {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space out the buttons and video */
  margin: 40px auto 0; /* Center the carousel within the container */
  padding: 0;
  box-sizing: border-box;
}

.carousel-btn {
  color: black;
  padding: 1px 8px;
  border: black;
  border: 2px solid black;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 900;
}

@media (max-width: 575.98px) { 
  .hm-pt-1 h1 {
    font-size: 3rem;
    line-height: 4rem;
    margin: 8vh 0;
  }

  .carousel-btn {
    display: none !important;
  }

  .video-carousel {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .vid-div{
    display: none;
  }

  .inner-container{
    display: flex;
    flex-direction: column;
  }

  .hm-pt-2 h1{
    line-height: 2.5rem !important;
    font-size: 1.7rem !important;
  }

  .hm-pt-2 .container{
    padding-top: 2rem !important;
  }

  .inner-container .left{
    gap: 2vw;
    width: 100%;
  }

  .inner-container h1{
    font-size: 1.4rem !important;
    text-align: start !important;
  }

  .right{
    align-items: center !important;
  }
}

.carousel-video {
  width: 82%; /* Adjust as necessary to fit your design */
  height: auto;
}

.hm-pt-2 h1 {
  text-align: start;
  line-height: 3rem;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: var(--bxp-charlie-display-font-family);
  position: relative;
}

.pt-3-div{
  z-index: -1;
  color: white;
  position: absolute;
  height: 120vh;
  width: 80vw;
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 60%);
}

.cv-scroll::-webkit-scrollbar {
  display: none;
}


.pt-6-2{
  padding-top: 10vh;
  clip-path: polygon(2% 14%, 100% 0%, 100% 100%, 0% 100%);
}

.pt-7-2{
  clip-path: polygon(0 0, 16% 0, 37% 0, 80% 0, 80% 8%, 100% 5%, 100% 85%, 100% 95%, 100% 91%, 36% 100%, 36% 90%, 0 90%);
}

.hm-pt-4{
  clip-path: polygon(0 0, 16% 0, 37% 0, 75% 0, 75% 5%, 100% 4%, 100% 85%, 100% 100%, 85% 100%, 20% 100%, 20% 91%, 0 90%);
}