nav{
    position: fixed;
    top: 0; 
    right: 0;
    left: 0;
    background-color: white;
    padding: 2vh 15vw;
    z-index: 10;
}

ul li {
    display: flex;
    align-items: center;
    font-size: 1vw;
}

ul i{
    margin-left: 5px;
    font-size: 1.5vw;
}

.nav-pt-2 i {
    font-size: 1.5vw;
}



a {
    display: flex;
    align-items: center; 
    font-size: 1vw;
    font-weight: 500;
}

a:hover{
    color: #3391ff;
}

@media (max-width: 575.98px) { 
    nav{
        z-index: 10;
        background-color: white;
        margin: 0 !important;
        padding: 1vh 4vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

 

    

    nav ul{
        display: none !important;
    }

    .nav-pt-2{
        display: none !important;
    }

    .menu{
        display: block !important;
        color: white;
    }
 }